.blue-line {
    height: 2px;
    width: 100%;
    background-color: rgb(0, 153, 229);
}

h2 {
    display: inline-block;
    margin-bottom: 15px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins,Helvetica,sans-serif
}

body {
    background-color: #666;
}

.header {
    background-color: white;
    margin: 0 auto;
    width: 100%;
    padding: 5px 0 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-left {
        display: flex;
        align-items: center;
        color: #333;
        .profile-pic {
            height: auto;
            width: 40px;
            margin-right: 10px;
        }
    }

    .nav-right {
        cursor: pointer;
        .hamburger {
            display: block;
            width: 20px;
            height: 3px;
            margin-bottom: 4px;
            margin-right: 20px;
            background: #333;
            border-radius: 5px;
            &:nth-last-child(1) {
                margin-bottom: 0;
            }
        }
    }

}

.main-container {
    margin: 0 auto;
    background-color: #fff;
    width: 100vw;
    
    .hero-image {
        width: 100%;
        height: auto;
    }
    
    .about-me {
        padding: 25px 40px;
        line-height: 1.5rem;
        color: #666;

        h1 {
            color: #333;
            font-size: 36px;
        }
        h5 {
            color: rgb(0, 153, 229);
            transition: color 5s;
            font-weight: lighter;
            font-size: 16px;
        }

        >* {
            margin-bottom: 10px;
        }
        >:nth-last-child(1) {
            margin-bottom: 0;
        }
    }

    .button {
        margin-left: 40px;
        margin-bottom: 15px;
        padding: 10px 40px;
        background-color: #fff;
        color: rgb(0, 153, 229);
        border: rgb(0, 153, 229) solid 2px;
        font-weight: 500;
        font-size: 0.9rem;
        cursor: pointer;
        &:hover {
            transition: 1s;
            background-color: rgb(230, 225, 225);
            color: #333;
            scale: 0.1;
        }
    }
}

//resume area
.skills-section {
    margin: 40px;
    .skills-containers {
        margin: 10px 0;
        &:nth-child(5) {
            margin-bottom: 30px;
        }
        .skills-wrap {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3px;
            h6 {
                font-size: medium;
                font-weight: 400;
                display: flex;
                align-items: center;
                .fa-brands, .fa-solid {
                    margin-left: 10px;
                    &.fa-js {
                        color: #323330;
                        background-color: #f0db4f;
                    }
                    &.fa-sass {
                        color: #bf4080;
                    }
                    &.fa-html5 {
                        color: red;
                    }
                    &.fa-react {
                        color: #61dbfb;
                    }
                    &.fa-gear, &.fa-terminal, &.fa-server {
                        font-size: small;
                    }
                    &.fa-terminal {
                        color: green;
                    }
                    &.fa-server {
                        color: #323330;
                        background-color: #f0db4f;
                    }
                    &.fa-gear {
                        color: #666;
                    }
                }
            }
            p {
                font-size: 0.7em;
                color: #666;
            }
        }
    }
}
.progress-bar-outline {
    height: 10px;
    width: 100%;
    border: 1px solid rgb(0, 153, 229);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 3px;
    .progress-bar {
       transition: 3s;
        background-color: rgb(0, 153, 229);
        width: 68%;
        height: 5px;
        border-radius: 5px;
    }
}