.blue-line {
    height: 2px;
    width: 100%;
    background-color: rgb(0, 153, 229);
}

.what-i-do {
    margin: 60px 0 60px 40px;
    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    li {
        list-style: none;
        min-width: 20%;
        border: 1px solid #e6e1e1;
        text-align: center;
        vertical-align: middle;
        padding: 5px 5px;
        margin: 5px 5px;
        color: #575555;
    }
}
h2 {
    display: inline-block;
    margin-bottom: 15px;
    width:max-content;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins,Helvetica,sans-serif;
    color: #333;
}

body {
    background-color: #fff;
    box-sizing: border-box;
}

.header {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 100vw;
    position: sticky;
    top: 0;
    padding: 5px 0 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    z-index: 10;

    .nav-left {
        display: flex;
        align-items: center;
        color: #333;
        .profile-pic {
            height: auto;
            width: 40px;
            margin-right: 10px;
        }
    }

    .nav-right {
        cursor: pointer;
        .hamburger {
            display: block;
            width: 20px;
            height: 3px;
            margin-bottom: 4px;
            margin-right: 40px;
            background: #333;
            border-radius: 5px;
            &:nth-last-child(1) {
                margin-bottom: 0;
            }
        }
    }

}

.main-container {
    background-color: #fff;
    width: 100vw;
    display: flex;
    flex-direction: column;

    .column-wrapper .right p {
        color: #575555;
    }

    .contact-wrapper {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .hero-image {
        width: 100%;
        height: auto;
    }
    
    .about-me {
        padding: 25px 40px;
        line-height: 1.5rem;
        color: #666;

        p {
            font-size: 20px;
            color: #575555;
        }

        h1 {
            color: #333;
            font-size: 36px;
        }
        h5 {
            color: rgb(0, 153, 229);
            transition: color 5s;
            font-weight: lighter;
            font-size: 16px;
        }

        >* {
            margin-bottom: 10px;
        }
        >:nth-last-child(1) {
            margin-bottom: 0;
        }
    }

    
}

.button {
    margin: 15px 0;
    padding: 10px 40px;
    background-color: #fff;
    color: rgb(0, 153, 229);
    border: rgb(0, 153, 229) solid 2px;
    font-weight: 500;
    font-size: 0.9rem;
    max-width: 200px;
    cursor: pointer;
    &:hover {
        transition: all .3s ease-in-out;
        background-color: rgb(230, 225, 225);
        color: #333;
        scale: 0.1;
    }
}

//resume area
.experience-container {
    position: relative;
    h2 {
        margin-bottom: 50px;
    }
}
.skills-section, .experience-container  {
    margin: 40px;

    h2 {
        margin-top: 40px;
    }
    .skills-containers {
        margin: 10px 0;
        &:nth-child(5) {
            margin-bottom: 30px;
        }
        &:nth-child(10) {
            margin-bottom: 30px;
        }
        .skills-wrap {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3px;
            h6 {
                font-size: medium;
                font-weight: 400;
                display: flex;
                align-items: center;
                .fa-brands, .fa-solid {
                    margin-left: 10px;
                    &.fa-js {
                        color: #323330;
                        background-color: #f0db4f;
                    }
                    &.fa-sass {
                        color: #bf4080;
                    }
                    &.fa-html5 {
                        color: red;
                    }
                    &.fa-react {
                        color: #61dbfb;
                    }
                    &.fa-gear, &.fa-terminal, &.fa-server {
                        font-size: small;
                    }
                    &.fa-terminal {
                        color: green;
                    }
                    &.fa-server {
                        color: #323330;
                        background-color: #f0db4f;
                    }
                    &.fa-gear {
                        color: #666;
                    }
                }
            }
            p {
                font-size: 0.7em;
                color: #666;
            }
        }
    }
}
.progress-bar-outline {
    height: 10px;
    width: 100%;
    border: 1px solid rgb(0, 153, 229);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 3px;
    .progress-bar {
       transition: 3s;
        background-color: rgb(0, 153, 229);
        width: 68%;
        height: 5px;
        border-radius: 5px;
    }
}


.column-wrapper{
    display: flex;
    margin: -40px 0;
    .left {
        width: 30vw;
        text-align: right;
        padding: 10px 0;
        
        p {
            color: rgb(170, 167, 167);
            font-size: .8rem;
        }
    }
    .divider {
        width: 1px;
        background-color: rgb(230, 225, 225);
        margin: 0 15px;
        z-index: 0;
        display: flex;
        flex-direction: column-reverse;
        position: relative;
    }

    .blue-divider-1 {
        width: 1px;
        background-color: #0099e5;
        z-index: 2;
        height: 0%;
        animation: grow 2.9s linear forwards 6s;
    }

    .blue-divider-2 {
        width: 1px;
        background-color: #0099e5;
        z-index: 2;
        height: 0%;
        animation: grow 2.9s linear forwards 3s;
    }

    .blue-divider-3 {
        width: 1px;
        background-color: #0099e5;
        z-index: 2;
        height: 0%;
        animation: grow 2.9s linear forwards;
    }
    .blue-divider-4 {
        width: 1px;
        background-color: #0099e5;
        z-index: 2;
        height: 0%;
        animation: grow 2.9s linear forwards 15s;
    }

    .blue-divider-5 {
        width: 1px;
        background-color: #0099e5;
        z-index: 2;
        height: 0%;
        animation: grow 2.9s linear forwards 12s;
    }

    .blue-divider-6 {
        width: 1px;
        background-color: #0099e5;
        z-index: 2;
        height: 0%;
        animation: grow 2.9s linear forwards 9s;
    }

    .circle {
        position: absolute;
        z-index: 5;
        border-radius: 50%;
        background-color: #fff;
        width: 15px;
        height: 15px;
        border: 2px solid rgb(230, 225, 225);
        top: 10px;
        left: -7px;

       &.blue-circle-1 {
        animation: forwards blue .2s 8.6s;
   }

    &.blue-circle-2 {
        animation: forwards blue .2s 5.6s;
   }

   &.blue-circle-3 {
        animation: forwards blue .2s 2.8s;
   }
   &.blue-circle-4 {
    animation: forwards blue .2s 17.5s;
}

&.blue-circle-5 {
    animation: forwards blue .2s 14.6s;
}

&.blue-circle-6 {
    animation: forwards blue .2s 11.8s;
}
    }

    @keyframes blue {
        100% {
            border-color: #0099e5;
        }
    }

    @keyframes grow {
        
        0% {
            height: 0%;
        }
        100% {
            height: 100%;
        }
        
    }
 
    .right {
        width: 60vw;
        margin-bottom: 15px;
        padding: 10px 0;
        h4 {
            margin-bottom: 5px;
        }
        p {
            color: #333;
            font-size: .8rem;
            line-height: 1.4rem;
        }
    }
}

//nav left for large screens
.lg-nav-left {
    display: none;
}

// nav-bar

.side-navigation{
    top: 0;
    left: -500px;
    width: 65vw;
    height: 100vh;
    background: rgb(255, 255, 255);
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: .3s ease-out;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 18%);
    z-index: 11;

    &.open {
        left: 0px;
        transition: .4s ease-in;
    }
    
    .nav-profile-image {
        width: auto;
        height: 100px;
        margin: 25px;
    }
    ul {
        list-style: none;
        cursor: pointer;
        width: 100%;
        
        li {
            
            &.underline {
                text-decoration: underline #0099e5 2px;
                transform: 2s ease-in;
            }

            &:hover {
                opacity: .6;
                transition: .5s ease-in;
            }
        }
        a{
            text-decoration: none;
        }
        .nav-buttons {
            border-top: 1px solid rgb(241, 239, 239);
            font-size: 0.9rem;
            padding: 15px 0;
            width: 100%;
            display: inline-block;
            text-align: center;
        }
    }

    
}

//contact

    .contact {
        margin: 30px 30px 0 30px;
        padding-bottom: 10px;
        border-bottom:rgb(241, 239, 239) 2px solid;
        letter-spacing: 0.04em;
        font-weight: bolder;
    }

    .small-title {
        text-align: right;
        color: rgb(163, 163, 163);
        font-size: 0.9rem;
        font-weight: 100;
        margin: 10px 30px 0 0;
    }

    .contact-me {
        margin: 30px;
        padding: 30px 0;
        text-align: center;
        cursor: pointer;

        &:hover{
            border-color: #0099e5;
            transition: 1s ease-in;
        }

        i {
        color: rgb(230, 225, 225);
        font-size: 2rem;
        }

        h6 {
            color: #333;
            margin-top: 20px;
            font-size: 1rem;
            letter-spacing: 0.1rem;
        }
    }

    .project-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 40px;
        .project {
            margin: 40px 10px;
            .picture {
                width: 300px;
                height: 300px;
                background-color: #0099e5;
            }
            h3 {
                text-align: center;
                margin: 10px 0;
                background-color: #e6e1e1;
                padding: 10px 0;
            }
        }
    }
        

    form {
        border: 1px solid rgb(230, 225, 225);
        margin: 30px;
        padding: 30px 0;
        cursor: pointer;
        z-index: 0;

       .form-control  {
           display: flex;
           justify-content: center;
           flex-direction: column;
           position: relative;
           width: 100%;

           input, textarea {
            border: 1px solid rgb(230, 225, 225);
            border-radius: 3px;
            display: block;
            height: auto;
            padding: 10px;
            font-size: 14px;
            margin: 0 40px;
            margin-bottom: 20px;
           }
           textarea {
               height: 200px;
           }
           i {
               position: absolute;
               top: 10px;
               right: 50px;
               display: none;
               &.fa-circle-exclamation {
                color: red;
                
               }
               &.fa-circle-check {
                   color: green;
                   visibility: hidden;
               }
           }
           
        }
    }
    .button-form {
        margin-left: 40px;
    }

    @media screen and (min-width: 768px) {
        
        .contact-area {
            width: auto;
            display: flex;
            justify-content: center;
            .contact-me {
                width: 30%;
                padding: 15px 25px;
            }
            .contact-me:nth-child(2) {
                width: 270px;
                padding: 15px 15px;
            }
        }

        .contact-wrapper {
            margin: 0 auto;
            max-width: 70vw;
        }
    
        .education-skills-wrapper {
            display: flex;
        }

        .education-experience-wrapper {
            width: 50vw;
        }

        .skills-wrapper {
            width: 50vw;
        }
      

      .side-navigation  {
          left: -1000px;
          width: 40vw;
      }
    }

    @media screen and (min-width: 1000px) {

        body {
            display: flex;
        }
       
       .header, .side-navigation{
           display: none;
       }

       .main-container {
           width: 80vw;
       }

       .hero-about-wrapper {
           flex-direction: row;
       }

       .education-experience-wrapper {
        width: 40vw;
        }

        .skills-wrapper {
        width: 40vw;
        }

        .button {
            left: 0;
            width: 20vw;
        }

        .lg-nav-left {
            width: 15vw;
            height: 100vh;
            background: rgb(255, 255, 255);
            display: flex;
            align-items: center;
            flex-direction: column;
            transition: .3s ease-out;
            border-right: 10px rgb(230, 225, 225) solid;
            // margin-right: 5px;
            position: sticky;
            top: 0;
            
            .nav-profile-image {
                width: auto;
                height: 100px;
                margin: 25px;
            }
            ul {
                list-style: none;
                cursor: pointer;
                width: 100%;
                
                li {
                    
                    &.underline {
                        text-decoration: underline #0099e5 2px;
                        transform: 2s ease-in;
                    }

                    &:hover {
                        opacity: .6;
                        transition: .5s ease-in;
                    }
                }
                a{
                    text-decoration: none;
                }
                .nav-buttons {
                    border-top: 1px solid rgb(241, 239, 239);
                    font-size: 0.9rem;
                    padding: 15px 0;
                    width: 100%;
                    display: inline-block;
                    text-align: center;
                }
            }
                }
       
    }

    @media screen and (min-width: 1400px) {
        .hero-about-wrapper {
            display: flex;
            width: 100%;
            
            display: flex;

                .hero-image {
                    width: 80vw;
                    height:min-content;
                    max-height: 60vh;
                }
                .about-me {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
    }
    }
    